<footer class="footer">
    <div class="container">
    <div class="footer-links" >
        <a href="#">About us</a> | <a href="#">Terms and Conditions</a> | <a href="#">Policies</a> | <a href="#">Cookie Use</a>| <a href="#">Career</a>| <a href="#">Contact Us</a>
    </div>
    <div class="footer-links" >
        <a href="#">How does it works?</a> | <a href="#">Frequently aske question by customer?</a>
        | <a href="#">Frequently aske question by business?</a>
    </div>
    All right reserved to <a href="#">get2leads.com</a>
    <p></p>
</div>
</footer>