
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>


<body class="animated fadeIn">
<% include ./partials/header %>

<!-- forgot password content -->
<div class="container " style="margin-top:100px;">
    <div class="row-welcome" >
        <div class="col-md-2 no-padding-xs" ></div>

            <div class="profile-info col-md-8">

                <!-- update info -->
                <div class="panel panel-primary post panel-shadow">
                    <div class="panel-heading">
                        <h1 class="panel-title">Forgot your password?</h1>
                    </div>
                    <div class="panel-body">
                        <h3>Get2Lead Password Assistance for Users</h3><br>
                        <h4>Enter a new password for your Get2Leads account.</h4>

                        <form action="/resetpassword" method="POST" style="margin-top: 20px;">

                        <div class="form-group">
                            <div class="row">
                            <label class="col-md-4 control-label">Password:</label>
                            <div class="col-md-8">
                                <input class="form-control" name="password" type="password" placeholder="Password" required>
                            </div>
                                </div>
                        </div>

                         <div class="form-group">
                              <div class="row">
                                  <label class="col-md-4 control-label">Verify Password:</label>
                                  <div class="col-md-8">
                                  <input class="form-control" name="vpassword" type="password" placeholder="Verify Password" required>
                                </div>
                                 </div>
                           </div>


                        <div class="row">
                            <div class="col-md-4"> </div>
                            <div class="form-group col-md-8">
                               <input type="hidden" name="token" value="<%=message%>">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div><!-- end update info-->


            </div>
        <div class="col-md-2 no-padding-xs" style="text-align: center"></div>

        </div>
    </div><!--End forgot password content -->

</div>



<% include ./partials/footer%>
</body>
</html>
