
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>


<body class="animated fadeIn">
<% include ./partials/header %>

<!-- forgot password content -->
<div class="container " style="margin-top:100px;">
    <div class="row-welcome" >
        <div class="col-md-2 no-padding-xs" ></div>

        <div class="profile-info col-md-8">

            <!-- update info -->
            <div class="panel panel-primary post panel-shadow">
                <div class="panel-heading">
                    <h1 class="panel-title">Successfully Registered</h1>
                </div>
                <div class="panel-body">
                    <h3>Thank You,<br />You have been successfully Registered.</h3>
                    Your activation link has been sent to your registered E-mail id. Please use the activation link to activate your account.


                </div>
            </div><!-- end update info-->


        </div>
        <div class="col-md-2 no-padding-xs" style="text-align: center"></div>

    </div>
</div><!--End forgot password content -->

</div>



<% include ./partials/footer%>
</body>
</html>
